.nav-link {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* text-align: center; */
  }

  .navcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  a 
  {
    text-decoration: none;

  }
  a:hover{
    text-decoration: none;
    background-color: transparent;
    color: inherit; /* Maintain text color */
    cursor: pointer;
  }
  .nav-link span {

    line-height: 1.5em;
    display: inline-block;
    font-size: 12px; /* Adjust the size of the text */
    margin: 3; /* Remove margin */
    padding: 10; /* Remove padding */
  }


  table {
    /* border-collapse: collapse; */
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Button styles */
.schedule-button,button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}


#mainBody{
  height: 100vh;
}

#textInputForm{

  padding-top: 5rem;
}
