<div class="container">
  <h1 class="h1">Accounts List</h1>
  <table id="accountLists" class="table mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody> 
  </table>
<div class="table-responsive" style="margin-top: 2rem;">
  <h1 class="h1">Saved Report For Proposals</h1>
  <table id="proposaltable" class="table table-striped">

  </table>
</div>


<footer>
  <button type="button" class="btn btn-outline-info" id="download-excel" >Download Excel</button>

</footer>
</div>
