<div class="container" style="margin-left: 2rem;">
    <form id="textInputForm">
        <div class="form-group">
            <h3 class="h3">PROPOSAL TEMPLATE</h3>
            <label for="text">Enter reply to proposal:</label>
            <textarea class="form-control" id="templatetext" rows="30" cols="30" aria-label="With textarea" placeholder="Enter template"></textarea> 
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save Template</button>
    </form>
    
    <br>
    <div>
        <h3 class="h3">Saved Template</h3>
        <p id="savedTemplate"></p>
    </div>
</div>
<div class="container" style="margin-left: 2rem;">
    <form id="textInputFormMessage">
        <div class="form-group">
            <h3 class="h3">REPLY MESSAGE TEMPLATE</h3>
            <label for="text">Enter instant message to send:</label>
            <textarea class="form-control" id="templatemessagetext" rows="30" cols="30" aria-label="With textarea" placeholder="Enter template"></textarea> 
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save Template</button>
    </form>
    
    <br>
    <div>
        <h3 class="h3">Saved Template</h3>
        <p id="savedMessageTemplate"></p>
    </div>
</div>